language: ruby
rvm:
- 2.1
before_script:
- chmod +x ./script/cibuild
script: "./script/cibuild"
branches:
  only:
  - 18f-pages
  - "/pages-(.*)/"
env:
  global:
  - NOKOGIRI_USE_SYSTEM_LIBRARIES=true
notifications:
  email:
    on_success: never
    on_failure: never
deploy:
  provider: cloudfoundry
  api: https://api.cloud.gov
  username: pradeep.krishnanath@gsa.gov
  password:
    secure: ZEGIEnVqnQqy6AhUWZRdH0mrmJ6WgkibXFiVP4zMQuHvyAF4UjrHG8BvbPUQOG8gxN3UOJD/i/P5f6bkuigofXIdo9wL1H/7kBUtLcLx3urM87wuIb7F42cNNkOHBbPtWl7rXcKLX/d3vMtXkS/05G1RsFtofaDCX2UMXcVf0/PxOx4AdvQMDAdQJ+DgTHR7jjqvJ/O3awVpY0akNCKrlQWZB66D6VI0vnJASKQqgmGhn2HvqNJP4KacHvfKna3L0uavliuEH7AWJdSPeI/lbwNma1kGGd/sjhfgDioGltditoZJkLacYysrT/a/WOdEudDIvBlq1XaAtM8gJjYZ7Ag/bRf0YwbW+/RzUV5pdktmmyLAp8RcprhXigslxnxWffGJU4SyLlTMm2yac9ubKnUjKgKLL/PM2PDHMp1q2kNJ+gZFur6A8DLfAkWPNuAj3LL/josd/Mb3YPIVztiJMSgDK+V79JdEj6MXUFi5YwjfWhpAIHFzq/lQcw2GVWVbJN7QCBps11DBk967zxD9p0RMACQA2SeuaJmjpnYN5fJBXQEIEjKLlAwzvaR/vxh6QsAspTjsArzHwlCpK8nm8GQehJw+Ia3bDF2I6286uLiskQk7dGJ3Shfg8zopuBIvAV5HpUw5acJngL9cVB7DKG58LYLmolKljp4HqmR29+Y=
  organization: SANDBOX
  space: pradeep.krishnanath
  on:
    repo: ykhadilkar-rei/user-guide
    branch: 18f-pages
